<% layout('products/layouts/boilerplate')-%><h1>Add a product</h1>
<form action="/products" method="POST">
    <label for="name">Product name</label>
    <input type="text" name="name" id="name" placeholder="product name">
    <label for="price">Price</label>
    <input type="number" name="price" id="price" placeholder="product price">
    <button>Submit</button>
</form>    
